#contato {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/images/bg2/525.jpg');
    background-size: 100vw;
    background-repeat: no-repeat;
}

#contato .section-title {
    color: var(--color-primary-1);
}

.dark-mode #contato .section-subtitle {
    color: var(--color-neutral-1);
}

#contato .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center
}

form {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2);
    background-color: var(--color-primary-1);
    width: 350px;
    height: 430px;
    padding: 1rem 1rem 0rem 1rem;
    border: none;
    margin-top: 1rem;
}

form input {
    border: solid 2px var(--color-primary-5);
    color: var(--color-neutral-1);
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    padding: .5rem;
    border-radius: .3rem;
    margin: 1rem 0rem 1rem 0rem;
}

form textarea {
    border: solid 2px var(--color-primary-5);
    color: var(--color-neutral-1);
    background-color: rgba(0, 0, 0, .2);
    border-radius: .3rem;
    padding: .5rem;
    margin: 1rem 0rem 1rem 0rem;
    max-width: 320px;
    min-width: 320px;
    max-height: 100px;
    min-height: 150px;
}

form textarea::placeholder,
form input::placeholder {

    color: var(--color-neutral-1);
    font-size: .9em;
}

input:focus,
textarea:focus {
    outline: none;
}

form button {
    color: var(--color-primary-1);
    background-color: var(--color-primary-0);
    text-transform: capitalize;
    border: none;
    border-radius: .5rem;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 1rem 8.2rem 1rem 8.2rem;
    cursor: pointer;
    transition: ease .2s;
    align-items: center;
    justify-content: center;
    position: relative;
}

form button:hover {
    color: var(--color-neutral-1);
    background: var(--color-primary-2);
}

.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 5;
}

.card2,
.card {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .2);
    display: flex;
    position: relative;
    background-color: var(--color-primary-1);

    padding: 1rem;
    width: 400px;
    height: 200px;
    margin-left: 10rem;


}


.card2 h3 {

    color: var(--color-neutral-1);
    font-weight: 500;
    line-height: 1.8;
    align-items: center;
    position: relative;
    top: 3rem;
    right: 6rem;
    width: 50%;
}

.card h3 {
    color: var(--color-neutral-1);
    font-weight: 500;
    line-height: 1.8;
    align-items: center;
    position: relative;
    margin-left: 1rem;
    width: 50%;


}

.card2 span {
    color: var(--color-primary-5);
}

.cards span {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color-primary-5);
}

.card2 img {
    align-items: center;
    position: relative;
    width: 45%;
    object-fit: cover;
    left: 12rem;
}

.card img {


    align-items: center;
    position: relative;
    width: 45%;
    height: 100%;
    object-fit: cover;


}

/*responsividade*/
@media screen and (max-width: 980px) {
    #contato .content {
        display: flex;
        flex-direction: column;
    }

    .cards {

        margin-top: 1rem;
        right: 5rem;
    }

    .card,
    .card2 {
        width: 22rem;
        height: 35vh;
    }

    .card2 img {
        position: relative;
        left: 8rem;
    }

    .card2 h2 {
        width: 10rem;
    }
}

@media screen and (max-width: 1170px)and (max-height:2000px) {
    #contato {
        background-size: 100vw 100%;
        object-fit: cover;
    }

    .cards {
        display: flex;
        flex-direction: column;
    }

    .card {
        font-size: .9rem;
    }

    .card,
    .card2 {
        height: 12rem;
    }
}