@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('header.css');
@import url('sobre.css');
@import url('projetos.css');
@import url('footer.css');
@import url('contato.css');

:root {

    --color-primary-0: #8F00FF;
    --color-primary-1: #fff;
    --color-primary-2: #00fa9a;
    --color-primary-3: #A47DAB;
    --color-primary-5: #7F00FF;
    --color-primary-6: #9400D3;
    --color-primary-7: #ff1493;

    --color-neutral-0: #ffff66;
    --color-neutral-1: #1d1d1d;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/bg.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    transform: scaleX(-1);
    /* ← inverte a imagem */
    transform-origin: center;
    object-fit: cover;
    z-index: -2;
    /* mantém o fundo atrás do conteúdo */
}

.dark-mode .section-subtitle {
    color: var(--color-primary-1);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-5);
    border-radius: 5% 10% 5% 10%;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: var(--color-primary-2);
}

.section-title {
    color: var(--color-primary-6);
    font-size: 1.563rem;
}

.section-subtitle {
    color: var(--color-neutral-1);
    font-size: 2.1875rem;
}

@media screen and (max-width:1170px) {
    body::before {
        background-size: 100vw 15%;
    }
}